<div class="container main-container">

    <h1>Lista de Produtos</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    {{ product.brand }}
                </td>
                <td >
                    {{ product.model }}
                </td>
                <td style="width: 50%">
                    {{ product.price }}
                </td>
                <td class="text-right">
                    <a class="btn btn-warning">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>